[submodule "public/themes/basecamp"]
	path = public/themes/basecamp
	url = http://github.com/avit/redmine-basecamp-theme.git
[submodule "vendor/plugins/acts-as-taggable-on"]
	path = vendor/plugins/acts-as-taggable-on
	url = git://github.com/rymai/acts-as-taggable-on.git
[submodule "vendor/plugins/redmine_tagging"]
	path = vendor/plugins/redmine_tagging
	url = http://github.com/friflaj/redmine_tagging.git
[submodule "vendor/plugins/action_mailer_optional_tls"]
	path = vendor/plugins/action_mailer_optional_tls
	url = http://github.com/collectiveidea/action_mailer_optional_tls.git
[submodule "vendor/plugins/redmine_markdown_formatter"]
	path = vendor/plugins/redmine_markdown_formatter
	url = http://github.com/bitherder/redmine_markdown_formatter.git
[submodule "vendor/plugins/redmine_backlogs"]
	path = vendor/plugins/redmine_backlogs
	url = git://github.com/relaxdiego/redmine_backlogs.git
[submodule "vendor/plugins/redmine_gitosis"]
	path = vendor/plugins/redmine_gitosis
	url = http://github.com/mattmeng/redmine_gitosis.git
[submodule "vendor/plugins/redmine_checkout"]
	path = vendor/plugins/redmine_checkout
	url = git://github.com/meineerde/redmine_checkout.git
[submodule "vendor/plugins/redmine_markdown_extra_formatter"]
	path = vendor/plugins/redmine_markdown_extra_formatter
	url = https://github.com/avit/redmine_markdown_extra_formatter.git
